---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<section class="mt-12">
		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pb-2 mt-6 mb-6">¿Quiénes somos?</h1>
		<div class="prose prose-citrus max-w-none">
		  <p class="text-justify">
			ASOMUCIQ ha implementado proyectos de formación en liderazgo, emprendimiento y gestión de proyectos, además de iniciativas para fortalecer la economía local, promoviendo la producción y comercialización de productos agrícolas y artesanales, lo que contribuye a la autonomía económica de las mujeres y al fortalecimiento del tejido social en sus comunidades.
		  </p>
		  <p class="text-justify">
			El objeto social de la organización se centra en mejorar la calidad de vida de la población vulnerable, especialmente campesinos, afrocolombianos, indígenas y mestizos, afectados por el conflicto interno colombiano. Para ello, se enfoca en:
		  </p>
		  <ul class="list-disc pl-5 text-justify">
			<li><strong>Mejora social y económica:</strong> Desarrollar programas que promuevan los derechos humanos, la vivienda, la cultura, la formación, la recreación y la construcción del tejido social a través de proyectos públicos y privados.</li>
			<li><strong>Fomento de la paz:</strong> Sensibilizar y participar en procesos de paz con grupos armados ilegales.</li>
			<li><strong>Desarrollo de programas productivos y sociales:</strong> Mejorar la calidad de vida y garantizar el acceso a los beneficios del Estado, promoviendo la creación de microempresas, desarrollo agropecuario y pesquero.</li>
			<li><strong>Protección ambiental y capacitación:</strong> Desarrollar proyectos de reforestación, control de la contaminación y manejo de recursos hídricos y residuos.</li>
			<li><strong>Formación y educación:</strong> Impulsar actividades de formación en temas relacionados con medio ambiente, riesgos laborales, contabilidad y otros ámbitos técnicos.</li>
			<li><strong>Cooperación internacional:</strong> Firmar acuerdos y convenios con entidades nacionales e internacionales para apoyar proyectos y actividades sociales.</li>
			<li><strong>Desarrollo de proyectos y financiamiento:</strong> Gestionar recursos para el financiamiento de actividades y proyectos a nivel nacional e internacional, y realizar alianzas estratégicas con otras entidades.</li>
		  </ul>
		</div>
		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pb-2 mt-6 mb-6">Nuestra Historia</h1>
		<div class="prose prose-citrus max-w-none">
			<p class="text-justify">
				ASOMUCIQ surge el día 22 de diciembre de 2017 como una iniciativa promovida por un grupo de mujeres congregadas en una asamblea, que venían adelantando un trabajo hacía más de 9 años, donde se le ayudaba a la mujer Campesina, víctima del conflicto armado, a la madre cabeza de hogar y a las mujeres en estado de vulnerabilidad en la búsqueda de soluciones, el restablecimiento y rescate de sus derechos para de esta manera contribuir al mejoramiento de la calidad de vida de cada una de las personas vinculadas a la asociación y por ende hacerlo extensivo a las familias.</p>
			<p class="text-justify">
				Posteriormente, a principios del mes de febrero del año 2018 fue construida legalmente está asociación en el municipio de Quibdó con el fin de realizar un trabajo serio y organizado con firme propósito de impulsar y desarrollar programas tendientes a la defensa, protección y promoción de los derechos humanos, para proponer y ejecutar programas de fortalecimiento cultural, educativo, recreacional, económico y laboral. Para contribuir a la construcción del tejido social. Propendiendo por aportar a la obtención de una paz duradera y estable.</p>
			<p class="text-justify">
				Nuestras mujeres, niñas, niños , jóvenes y la familia en general, son la a razón del nacimiento de ASOMUCIQ, quienes se encuentran inmersos en las diferentes situaciones de vulnerabilidad , de pobreza, pobreza extrema, condiciones de exclusión en todos los ámbitos de la vida sin el reconocimiento pleno de sus derechos; lo cual no les permite su desarrollo personal; es por eso que desde ASOMUCIQ defendemos los derechos de  las mujeres y promovemos el apoyo mutuo entre las familias y su entorno, generando una  alternativa de cambio que incida en  el mejoramiento de la calidad de vida de cada una de las asociadas y sus familias.</p>
		</div>
		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pt-4 pb-2 mt-6">Misión</h1>
		<div class="prose prose-citrus max-w-none">
		  <p class="text-justify">
			Ayudar a la mujer campesina, negra, afrocolombiana, raizal y palenquera víctima del conflicto armado y en estado de vulnerabilidad social, económica y laboral en la reivindicación de sus derechos, la inclusión a los diferentes programas establecidos por la ley. Para que, de esta manera, sea mejorada su calidad de vida en un contexto educativo y cultural donde estas puedan acceder a mejores oportunidades laborales propendiendo por vivir en una sociedad justa, solidaria y equitativa, coadyuvando al logro de una paz total.
		  </p>
		</div>
	  
		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pt-2 mt-6 mb-6">Visión</h1>
		<div class="prose prose-citrus max-w-none">
		  <p class="text-justify">
			Ser un referente para las mujeres, niñas, niños y adolescentes en la transformación de sus vidas a través de la inclusión, la cultura y la educación, mediante la implementación y desarrollo de proyectos de innovación a través de las diferentes alianzas institucionales con entes nacionales e internacionales dónde se pueda prestar un servicio de calidad. Además, de construir una organización eficiente, flexible y transparente, propendiendo por buscar la mejora continua de nuestros servicios y la calidad de vida de todos los beneficiarios demostrando seriedad, cumplimiento y así poner en marcha nuestros propósitos y valores.
		  </p>
		</div>
	  
		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pt-2 mt-6 mb-6">Valores</h1>
		<div class="prose prose-citrus max-w-none">
		  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4 text-lg font-medium">
			<li>Solidaridad</li>
			<li>Justicia</li>
			<li>Compromiso</li>
			<li>Transparencia</li>
			<li>Inclusión</li>
			<li>Innovación</li>
			<li>Educación</li>
			<li>Amor</li>
			<li>Cultura</li>
		  </ul>
		</div>

		<h1 class="text-3xl sm:text-4xl font-bold text-accent-two pt-2 mb-6 mt-6">Nuestro Equipo</h1>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
			<!-- Miembro 1 -->
			<div class="flex flex-col items-center p-4 shadow-lg rounded-2xl">
			<img src="/images/Representante Legal.jpg" alt="Nombre Miembro 1" class="w-32 h-32 object-cover rounded-full mb-4">
			<h2 class="text-xl font-semibold text-gray-800">Yobanny Mosquera</h2>
			<p class="text-gray-600 text-center">Representante Legal</p>
			</div>
			
			<!-- Miembro 2 -->
			<div class="flex flex-col items-center p-4 shadow-lg rounded-2xl">
			<img src="/images/Directora de Proyectos.jpg" alt="Nombre Miembro 2" class="w-32 h-32 object-cover rounded-full mb-4">
			<h2 class="text-xl font-semibold text-gray-800">Sandra Albornoz</h2>
			<p class="text-gray-600 text-center">Directora de Proyectos</p>
			</div>

			<!-- Miembro 3 -->
			<div class="flex flex-col items-center p-4 shadow-lg rounded-2xl">
			<img src="/images/Directora jurídica.jpg" alt="Nombre Miembro 3" class="w-32 h-32 object-cover rounded-full mb-4">
			<h2 class="text-xl font-semibold text-gray-800">Heisy Mosquera</h2>
			<p class="text-gray-600 text-center">Directora Jurídica</p>
			</div>
		</div>
	</section>	  

</PageLayout>
