---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">¿Quiénes somos?</h1>
	<div class="prose prose-citrus max-w-none">
		<p>El objeto social de la organización se centra en mejorar la calidad de vida de la población vulnerable, especialmente campesinos, afrocolombianos, indígenas y mestizos, afectados por el conflicto interno colombiano. Para ello, se enfoca en:</p>
		<ul>
			<li>Mejora social y económica: Desarrollar programas que promuevan los derechos humanos, la vivienda, la cultura, la formación, la recreación y la construcción del tejido social a través de proyectos públicos y privados.</li>
			<li>Fomento de la paz: Sensibilizar y participar en procesos de paz con grupos armados ilegales.</li>
			<li>Desarrollo de programas productivos y sociales: Mejorar la calidad de vida y garantizar el acceso a los beneficios del Estado, promoviendo la creación de microempresas, desarrollo agropecuario y pesquero.</li>
			<li>Protección ambiental y capacitación: Desarrollar proyectos de reforestación, control de la contaminación y manejo de recursos hídricos y residuos.</li>
			<li>Formación y educación: Impulsar actividades de formación en temas relacionados con medio ambiente, riesgos laborales, contabilidad y otros ámbitos técnicos.</li>
			<li>Cooperación internacional: Firmar acuerdos y convenios con entidades nacionales e internacionales para apoyar proyectos y actividades sociales.</li>
			<li>Desarrollo de proyectos y financiamiento: Gestionar recursos para el financiamiento de actividades y proyectos a nivel nacional e internacional, y realizar alianzas estratégicas con otras entidades. </li>
		</ul>
	</div>
	<h1 class="title mb-6"> </h1>
	<h1 class="title mb-6">Misión</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Ayudar a la mujer campesina, negra, afrocolombiana, raizal y palenquera víctima del conflicto armado y en estado de vulnerabilidad social, económica y laboral en la reivindicación de sus derechos, la inclusión a los diferentes programas establecidos por la ley. Para que, de esta manera, sea mejorada su calidad de vida en un contexto educativo y cultural donde estas puedan acceder a mejores oportunidades labores propendiendo por vivir en una sociedad justa, solidaria y equitativa, coayudando a logro de una paz total.
		</p>
	</div>
	<h1 class="title mb-6"> </h1>
	<h1 class="title mb-6">Visión</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Ser un referente para las mujeres, niñas, niños y adolescentes en la transformación de sus vidas a través de la inclusión, la cultura y la educación, mediante la implementación y desarrollo de proyectos de innovación a través de las diferentes alianzas institucionales con entes nacionales e internacionales dónde se pueda prestar un servicio de calidad. Además, de construir una organización eficiente, flexible y transparente, propendiendo por buscar la mejora continua de nuestros servicios y la calidad de vida de todos los beneficiarios demostrando seriedad, cumplimiento y así poner en marcha nuestros propósitos y valores.
		</p>
	</div>
	<h1 class="title mb-6"> </h1>
	<h1 class="title mb-6">Valores</h1>
	<div class="prose prose-citrus max-w-none">
		<ul>
			<li>Solidaridad</li>
			<li>Justicia</li>
			<li>Compromiso</li>
			<li>Transparencia</li>
			<li>Inclusión</li>
			<li>Innovación</li>
			<li>Educación </li>
			<li>Amor</li>
			<li>Cultura</li>
		</ul>

</PageLayout>
